body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the content takes at least the full height of the viewport. */
}

main {
    flex: 1; /* This allows the main content to grow and take up the remaining space. */
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #539 !important;
}

footer {
    background-color: rgba(51, 51, 51, 0.7); /* Adjust the alpha (fourth) value for transparency */
    color: #539;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    /* Additional styles for the footer */
}