body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the content takes at least the full height of the viewport. */
}

main {
    flex: 1; /* This allows the main content to grow and take up the remaining space. */
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:  #154c79 !important;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.footer {
    background-color:darkgray;
    color:  white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    /* Additional styles for the footer */
}