<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Uncomment the following line if your CodeIgniter installation is in a subfolder
    RewriteBase /WEGruppe05

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
